---
import { Image } from "@astrojs/image/components";
import Banner from "/public/images/banner.jpeg";
---

<div class="column">
  <div class="card">
    <Image src={Banner} alt="" class="bannerpic" />
  </div>
</div>
