---
import { Image } from "@astrojs/image/components";
import Dish from "/public/images/dish.jpeg";
---

<div class="column">
  <div class="card">
    <h3 class="herewegoagain">Lorem Ipsum</h3>
    <Image src={Dish} alt="" class="dishpic" />
    <p>By John Doe</p>
  </div>
</div>
