---
import { Image } from "@astrojs/image/components";
import CookingImage from "/public/images/cooking.png";
---

<div class="bosscontainer">
  <div class="container">
    <Image src={CookingImage} alt="" class="pic" />
    <h1 class="containerheading">Get Cooking Recipes</h1>
    <p class="containerp">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor
      sit amet consectetur, adipisicing elit. Voluptatem eaque iste atque non
      magnam dolores perspiciatis beatae molestias magni.
      <br />
      <br />
      Try Now &rarr;
    </p>
  </div>
</div>
