---
import { Image } from "@astrojs/image/components";
import Lock from "/public/images/lock.png";
---

<div class="column">
  <div class="card">
    <Image src={Lock} alt="" class="dishpic" />
    <p>Buy Our Membership Now to Get Full Access!</p>
  </div>
</div>
