<div class="news">
  <div class="flexbox">
    <h1 class="idk">
      Subscribe to Our Weekly Blog for more <strong>Cooking Tips</strong>💎
    </h1>
    <div class="fakeinput">
      <p class="placeholder">johndoe@zyx.com</p>
      <button class="btn">Subscribe</button>
    </div>
  </div>
</div>
